/* Universal Styles */

html {
  font-family: 'Helvetica', serif;
  font-size: 16px;
}

a {
  text-decoration: none;
}

.btn {
  display: inline;
  color: gray;
  text-align: center;
  width: auto;
  padding: 0px 8px;
}

/* Header */

header {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 64px;
  background-color: white;
}

.header {
  display: flex;
  padding: 16px 16px;
  align-items: center;
  flex-grow: 1;
}

.header img {
  height: 60px;
  width: 60px;
}

.header .colmar {
  color: darkgrey;
}

.header .academy {
  color: lightgrey;
}

nav ul {
  font-size: 1rem;
  display: inline-flex;
  flex-wrap: wrap;
  margin-right: 24px;
}

/* Content */

.content {
  display: flex;
  width: 100%;
  /*max-width: 960px;*/
  background-color: white;
  padding-top: 32px;
}

/* Banner */

.banner {
  display: flex;
  width: 100%;
  margin-top: 32px;
  background-color: gray;
}

.bannerimage {
  max-width: 60%;
  margin: 32px 24px 24px 24px;
}

.banner img {
  width: 100%;
  /*padding-right: 24px;*/
}

.bannercontent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 40%;
  background-color: gray;
}

.bannercontent h2 {
  font-size: 2.75rem;
  font-weight: bold;
  color: darkgray;
  line-height: 1.1;
  margin: 10% 48px 0% 24px;
}

.narrative {
  font-size: 1.5rem;
  font-weight: bold;
  color: darkgray;
  margin: 5% 48px 5% 24px;
  line-height: 1.5;
}

.banner a {
  display: block;
  width: 65%;
  padding: 8px 8px;
  margin: 5% 24px;
  background-color: darkgrey;
  transition-property: background-color;
  transition-duration: 750ms;
  text-align: center;
  font-family: Helvetica;
  font-size: 1.25rem;
  color: white;
}

a:hover {
  background-color: OliveGreen;
}

/* Main Content */

.maincontent {
  display: flex;
  width: 100%;
}

.mainimage {
  max-width: 60%;
  margin: 0px 24px 24px 24px;
}

.maincontent img {
  width: 100%;
}

.mainimage h2 {
  font-size: 2.5rem;
  font-weight: bold;
  color: darkgray;
  line-height: 1.1;
  margin: 32px 24px 24px 24px;
}

.mainimage p {
  font-size: 1.25rem;
  font-weight: bold;
  color: darkgray;
  margin: 0% 48px 5% 24px;
  line-height: 1.5;
}

.mainimage h6 {
  font-size: 1rem;
  font-weight: lighter;
  color: darkgray;
  margin: 0% 48px 0px 24px;
  line-height: 1.5;
}

.maincontentsection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80%;
  width: 100%;
}

.contentboxwhite {
  display: flex;
  align-items: center;
  height: 300px;
  width: 100%;
  border: 1px solid gray;
  margin-bottom: 1px;
}

.contentboxgray {
  display: flex;
  align-items: center;
  height: 300px;
  width: 100%;
  background-color: gray;
  border: 1px double gray;
}

.imageblock {
  display: inline;
  width: 35%;
}

.imageblock img {
  width: 100%;
  height: 100%;
  padding-left: 12px;
}

.textblock {
  width: 65%;
  line-height: 1rem;
  margin: 24px 5% 12px 5%;
}

.textblock h3 {
  font-size: 1.0rem;
  font-weight: bolder;
  color: darkgrey;
  margin-left: 0;
}

.textblock .narrative {
  font-size: 1.0rem;
  margin-left: 0;
}

/* Courses section */

.learning {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: orange;
  align-items: center;
}

.learning h1 {
  font-size: 1.5rem;
  padding: 32px;
}

.courses {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0px 72px 24px 72px;
}

.course {
  max-width: 25%;
}
