/* Universal Styles */

html {
  font-family: 'Helvetica', serif;
  font-size: 16px;
}

a {
  text-decoration: none;
}

.btn {
  display: inline;
  color: gray;
  text-align: center;
  width: auto;
}

.lrgbtn {
  display: inline-block;
  color: red;
  text-align: center;
}

/* Header */

header {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 64px;
  background-color: white;
}

.header {
  display: flex;
  padding: 16px 16px;
  align-items: center;
}

.header img {
  height: 60px;
  width: 60px;
}

.header span {
  font-size: 2rem;
}

.header .colmar {
  color: darkgrey;
}

.header .academy {
  color: lightgrey;
}

.header ul {
  display: inline;
  flex-wrap: wrap;
  margin-left: 550px;
  margin-right: 24px;
}

.header li {
  display: inline;
  margin-left: 16px;
}

/* Content */

.content {
  display: flex;
  width: 100%;
  background-color: white;
  padding-top: 32px;
}

/* Banner */

.banner {
  display: flex;
  width: 100%;
  margin-top: 32px;
  background-color: gray;
}

.banner img {
  width: 100%;
  padding: 32px 24px;
}

.bannercontent {
  display: block;
  width: 50%;
  padding: 64px 24px;
  background-color: gray;
}

.bannercontent h2 {
  font-size: 2.5rem;
  font-weight: bold;
  color: darkgray;
  line-height: 1.1;
  margin: 25% 48px 5% 24px;
}

.narrative {
  font-size: 1.5rem;
  font-weight: bold;
  color: darkgray;
  margin: 5% 48px 5% 24px;
  line-height: 1.5;
}

.banner a {
  display: block;
  width: 65%;
  padding: 8px 8px;
  margin: 10% 24px;
  background-color: darkgrey;
  transition-property: background-color;
  transition-duration: 750ms;
  text-align: center;
  font-family: Helvetica;
  font-size: 1.25rem;
  color: white;
}

a:hover {
  background-color: LimeGreen;
}

/* Main Content */

.maincontent {
  display: flex;
  width: 100%;
  background-color: white;
}

.maincontent img {
  width: 100%;
  margin-right: 24px;
  padding: 0px 24px 0px 24px;
}

.mainimage h2 {
  font-size: 2.5rem;
  font-weight: bold;
  color: darkgray;
  line-height: 1.1;
  margin: 32px 24px 24px 24px;
}

.mainimage p {
  font-size: 1.25rem;
  font-weight: bold;
  color: darkgray;
  margin: 0% 48px 5% 24px;
  line-height: 1.5;
}

.mainimage h6 {
  font-size: 1rem;
  font-weight: lighter;
  color: darkgray;
  margin: 0% 48px 32px 24px;
  line-height: 1.5;
}

.maincontentsection {
  display: block;
  width: 100%;
  background-color: gray;
}

.contentbox {
  display: flex;
  align-items: center;
  width: 100%;
  height: auto;
  background-color: yellow;
}

.imageblock {
  width: 35%;
  padding: 0px 12px 12px;
}

.textblock {
  width: 65%;
}

.subtext {
  font-size: 1.0rem;
  font-weight: bold;
  color: lightgray;
  margin: 5% 48px 5% 24px;
  line-height: 1.5;
}
