/* Universal Styles */

html {
  font-family: 'Helvetica', serif;
  font-size: 16px;
}

a {
  text-decoration: none;
}

.btn {
  display: inline-block;
  /*border-radius: 4px;*/
  /*padding: 16px 15px;*/
  color: red;
  text-align: center;
  /*margin-top: 16px 16px;*/
}

.btn:hover {
  color: darkgrey;
  background-color: gray;
  /*box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);*/
}

.lrgbtn {
  display: inline-block;
  /*border-radius: 4px;*/
  /*padding: 16px 15px;*/
  color: red;
  text-align: center;
  /*margin-top: 16px 16px;*/
}

/* Header */

header {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  border-bottom: 1px solid black;
  background-color: yellow;
}

.header {
  display: flex;
  padding: 16px 16px;
  align-items: center;
}

.header img {
  height: 60px;
  width: 60px;
}

.header span {
  font-size: 32px;
}

.header .colmar {
  color: darkgrey;
}

.header .academy {
  color: lightgrey;
}

.header ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.header li {
  display: inline;
  margin-left: 16px;
}

.header .btn {
  width: 150px;
  border: 1px solid black;
}

/* Content */

.content {
  display: flex;
  width: 1232px;
  margin: 0 auto 78px auto;
  padding-top: 100px;
}

/* Banner */

.banner {
  margin-top: 32px;
  background-color: gray;
  display: flex;
}


.banner a {
  display: block;
  width: 300px;
  padding: 31px 5px;
  border-radius: 5px;
  margin: 20% auto;
  background-color: orange;
  transition-property: background-color;
  transition-duration: 750ms;
  text-align: center;
  font-family: Helvetica;
  font-size: 32px;
  color: MintCream;
}

.bannercontent h2 {

}

a:hover {
  background-color: LimeGreen;
}
